@model MiniSocialNetwork.Models.Profile
@{
    ViewBag.Title = "Friends List";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (ViewBag.Message != null)
{
    @ViewBag.Message;
    <hr />
}

@if (ViewBag.Friends != null)
{
    foreach (MiniSocialNetwork.Models.Profile profile in ViewBag.Friends)
    {
        @Html.Partial("SmallProfile", profile);
        <hr />
    }
}