@model MiniSocialNetwork.Models.Comment
@{
    ViewBag.Title = "Show";
}
<br />
<a href="/Comment/Index">Comment list</a>
<br />
<a class="btn btn-info" href="/Comment/New">Add comment</a>

<br />
<div class="panel panel-default">
    <div class="panel-body">
        Comment: @Model.Content
        <br />
        <span class="label label-success">@Model.CreatedAt</span>
        <br />
        <i class="glyphicon glyphicon-globe"></i> @Model.Post.Content
        <br />
        <hr>
        <a class="btn btn-success pull-left" href="/Comment/Edit/@Model.CommentId">Edit comment</a>
        <form method="post" action="/Comment/Delete/@Model.CommentId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit">Delete comment</button>
        </form>
    </div>
</div>





